@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Lilita+One&family=VT323&display=swap');

:root {
    --color-primary: #7c66a5eb;
    --color-secondary: #4b9493eb;
    --color-dark: #262e2eeb;
    --color-light: #ffe1bd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body {
    background: linear-gradient(to right bottom, #252525, #363636eb) 50% fixed;
    font-family: 'Baloo 2', 'Courier New', Courier, monospace;
}

button {
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    font-family: 'VT323', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 20px;
    box-shadow: 0 0 5px #ccc;
}

button:hover {
    background-color: #ffe1bd;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.popup {
    font-size: 1.5rem;
    line-height: 1.7;
    text-align: center;
    max-width: 500px;
    color: var(--color-light);
    height: fit-content;
    background: linear-gradient(to right bottom, var(--color-primary), var(--color-secondary)) 50% fixed;
    padding: 40px;
    border-radius: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.popup input {
    font-size: inherit;
    padding: 15px;
    background: none;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    text-align: inherit;
}

.popup input::placeholder {
    color: inherit;
}

#end,
#gameBoard {
    display: none;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-family: 'Lilita One', 'Times New Roman', Times, serif;
    font-size: 3rem;
    color: rgb(6, 84, 82);
}


.flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.score-info div,
.selection div {
    min-width: 120px;
    text-align: center;
}

.selection {
    text-transform: uppercase;
}

.playerEmoji {
    font-size: 3rem;
}

.selection {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#playerName {
    text-transform: capitalize;
}

main {
    min-width: 50vw;
    min-height: 80vh;
    padding: 50px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right bottom, var(--color-primary), var(--color-secondary)) 50% fixed;
    color: #fff;
    border-radius: 10px;
}

.options {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.options div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.options .btn {
    min-width: 170px;
    font-size: 1.9rem;
}

#playerScore,
#computerScore {
    font-size: 4rem;
}